---
---

@import "{{ site.theme }}";

.wrapper {
  width: 1000px;
}

p {
  font-size: 13px;
  margin: 0 0 10px;
}

section {
  width: 600px;
  margin-bottom: 20px;
}

header {
  width: 350px;
}

code {
  font-size: 12px;
}

h1 {
  font-size: 30px;
  font-weight: 300;
  line-height: 35px;
}

a,
h2 {
  color: #25b1b9;
}

a:hover,
a:focus {
  transition: 0.5s;
  color: white;
  background-color: #42d0d1;
  font-weight: 300;
  opacity: 0.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #25b1b9;
  margin: 20px 0 10px;
}

#names {
  font-size: 20px;
}

#names a {
  color: #74d898;
}

#names a:hover {
  background-color: #74d898;
  color: white;
}

#names a:focus {
  background-color: #74d898;
  color: white;
}

.view a {
  font-size: 16px;
}

footer {
  width: 300px;
  float: left;
  position: fixed;
  bottom: 20px;
  -webkit-font-smoothing: subpixel-antialiased;
}

@media print, screen and (max-width: 960px) {
  header {
    padding-right: 0px;
  }
}
